@page "/demoproducts"

<div class="container">
    <div class="row">
        <div class="col">
            <div class="title-container">
                <h3>Demo Products</h3>
            </div>

            <div class="demo-products-grid">
                @foreach ( var prod in Products )
                {
                    <_DemoProductComponent Product="@prod"></_DemoProductComponent>
                }
            </div>
        </div>
    </div>
</div>

@code {

}
