/* CSS code by Gabor Koncz */


/*--------------- COLOR VALUES ---------------*/
:root {
    --materialRed: #f65656;
    --materialGrey: #3C4562;
}




/*--------------------------------------------*/
/*---------------- ERROR BOX -----------------*/
/*--------------------------------------------*/

.error-box {
    border-radius: 15px 15px 15px 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 50px;
    height: 30%;
    width: 50%;
    margin: 0 auto;
    margin-top: 3rem;
}

    .error-box h1 {
        font-size: 5rem;
    }

    .error-box h3 {
        /*font-size: 4rem;*/
    }

.error-box-header {
    border-radius: 15px 15px 0px 0px;
    background-color: #f65656; /*TODO needs to fix the color with variable use*/
    text-align: center;
    padding: 4rem;
}

.error-box-body {
    color: var(--materialGrey);
    background-color: #fff;
    text-align: center;
    padding: 5rem;
    border-radius: 0px 0px 15px 15px;
}