<div class="container">
    <div class="row">
        <div class="col justify-content-lg-center">
            <div class="error-page-component">
                <!-- box start -->
                <div class="error-box">
                    <div class="error-box-header">
                        <i class="fa-solid fa-triangle-exclamation"></i>
                    </div>
                    <div class="error-box-body">
                        <h1>404</h1>
                        <h3 role="alert">Sorry, there's nothing at this address.</h3>
                    </div>
                </div>
                <!-- box end -->
            </div>
        </div>
    </div>
</div>


@code {

}
