<div class="error-box">
    <div class="error-box-header">
        Icon comes here
    </div>
    <div class="error-box-body">
        <h3 role="alert">Sorry, there's nothing at this address.</h3>
    </div>
</div>

@code {

}
